/* Fonts */


@font-face {
  font-family: 'Cuprum';
  font-style: normal;
  font-weight: 400;
  src: local('Cuprum'),
  url('../fonts/cuprum.woff2') format('woff2'),
  url('../fonts/cuprum.woff') format('woff');
}

@font-face {
  font-family: 'Cuprum';
  font-style: normal;
  font-weight: 700;
  src: local('Cuprum'),
  url('../fonts/cuprumbold.woff2') format('woff2'),
  url('../fonts/cuprumbold.woff') format('woff');
}

@font-face {
  font-family: 'Cuprum';
  font-style: italic;
  font-weight: 400;
  src: local('Cuprum'),
  url('../fonts/cuprumitalic.woff2') format('woff2'),
  url('../fonts/cuprumitalic.woff') format('woff');
}

@font-face {
  font-family: 'Cuprum';
  font-style: italic;
  font-weight: 700;
  src: local('Cuprum'),
  url('../fonts/cuprumbolditalic.woff2') format('woff2'),
  url('../fonts/cuprumbolditalic.woff') format('woff');
}

@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  src: local('PT Sans'),
  url('../fonts/ptsans.woff2') format('woff2'),
  url('../fonts/ptsans.woff') format('woff');
}

@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 700;
  src: local('PT Sans'),
  url('../fonts/ptsansbold.woff2') format('woff2'),
  url('../fonts/ptsansbold.woff') format('woff');
}


/* Variables */


:root {
  --basic-red: #EE3643;
  --basic-green: #63A63E;
  --basic-grey: #3D546F;
  --basic-darkgrey: rgba(0, 0, 0, 0.15);
  --basic-darkgreen: #367315;
  --basic-greylight: #C5C5C5;
  --basic-background: #F1F5F7;
  --basic-black: #000000;
  --basic-white: #FFFFFF;
  --basic-yellow: #FFC047;
  --basic-silver: #A9A9A9;
  --basic-silverlight: rgba(234, 234, 234, 1);
  --basic-beige: #F7F3EC;
  --basic-brightnavy: #405069;
  --basic-cream: rgba(171, 171, 171, 0.3);
  --basic-creamlight: #ABABAB;
  --basic-darkcream: #B5B5B5;

  --special-darkgreen:#518534;
  --special-green:#00ca74;
  --special-red: #CA2C37;
  --special-darkred: #BA2732;
  --special-yellow: #FFBF47;
  --special-blue: #3BBCE3;
  --special-lilac: #DC91D8;
  --special-greenlight: #8ED78F;
  --special-yellowlight: #FFD180;
  --special-greylight: rgba(255, 255, 255, 0.5);
  --special-white-button: rgba(255, 255, 255, 0.3);
  --special-greylight-button: rgba(197, 197, 197, 0.3);
  --special-grey-button: rgba(169, 169, 169, 0.3);
  --special-darkgrey: #293449;
  --special-grey: #32425C;
  --special-black: #161D29;
  --special-dark: #1D2739;
  --special-darkblue: #212A3A;
  --special-beige: #E5E5E5;
  --special-silver: #F2F6F8;
  --special-silverlight: #F3F7F9;
  --special-darksilver: #D7DCDE;
  --special-cream: #F4F4F4;
  --special-shadow: rgba(0, 0, 0, 0.75);

  --background-light: #F9F5F0;
  --background-grey: rgba(0, 0, 0, 0.25);
  --success: #5FBB2D;
}


/* Global */


body {
  font-size: 18px;
  line-height: normal;
  font-family: "Cuprum", Arial, sans-serif ;
  font-weight: normal;
  font-style: normal;
  color: var(--basic-black);
  background-color: var(--basic-white);
  min-width: 960px;
}

a {
  text-decoration: none;
  color: inherit;
  padding: 0px;
  margin: 0px;
}


/* Common */


.page {
  height: 100%;
}

.page-body {
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
  min-height: 100%;
}

.inner-page-layout {
  display: grid;
  grid-template-columns: 220px 1fr;
  grid-template-rows: repeat(4, auto);
  grid-gap: 20px;
}

.index-columns {
  display: grid;
  grid-template-columns: 460px 300px;
  grid-gap: 180px;
  padding-top: 69px;
  padding-bottom: 69px;
}

.container {
  width: 940px;
  margin: 0 auto;
}

.list {
  list-style: none;
  padding: 0px;
  margin: 0px;
}

.title {
  text-transform: uppercase;
  padding: 0px;
  margin: 0px;
}

.title-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  background-color: var(--background-light) ;
  min-height: 89px;
  padding: 25px 13px 10px 28px;
  box-sizing: border-box;
  margin-bottom: 20px;
}

.title-container h2 {
  margin-top: 4px;
}

.logo {
  background-color: var( --basic-red);
  box-shadow: inset 0px -5px 0px var(--background-grey);
  width: 220px;
  box-sizing: border-box;
  margin-bottom: -5px;
}

.new {
  position: absolute;
  top: 0px;
  right: 0px;
  background-image: linear-gradient(45deg, transparent 52%, var(--basic-red) 52%, var(--basic-red) 82%, transparent 82%);
  min-width: 70px;
  min-height: 70px;
  z-index: -2;
}

.new em {
  display: block;
  font-size: 14px;
  line-height: 18px;
  font-family: "Cuprum", Arial, sans-serif ;
  font-weight: normal;
  font-style: normal;
  text-align: center;
  text-transform: uppercase;
  color: var(--basic-white);
  transform: rotate(45deg) translateX(18px) translateY(3px);
}

.button,
.current-price {
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: var(--basic-white);
  min-height: 38px;
}

.button {
  text-align: center;
  cursor: pointer;
}

.main-page-button {
  background-color: var(--basic-red);
  text-align: center;
  width: 192px;
  padding: 11px 10px 9px 10px;
  box-sizing: border-box;
}

.main-page-button:hover,
.main-page-button:focus {
  background-color: var(--special-red);
}

.main-page-button:active {
  background-color: var(--special-darkred);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.containing {
  background-color: var(--basic-red);
}


/* header */


.main-header {
  font-size: 18px;
  line-height: 24px;
  font-family: "Cuprum", Arial, sans-serif;
  font-weight: 400;
  font-style: normal;
  background-color: var(--basic-background);
  padding-bottom: 64px;
}

.main-page .main-header {
  margin-bottom: 59px;
}

.inner-page .main-header {
  margin-bottom: 22px;
}

.main-menu {
  color: var(--basic-white);
  background-color: var(--special-darkgrey);
}

.main-menu-container {
  display: flex;
  min-height: 42px;
}

.header-logo {
  align-self: flex-start;
  padding: 12px 56px 11px;
  margin-bottom: -5px;
}

.main-menu-wrapper {
  display: flex;
  align-items: flex-start;
  align-content: flex-start;
  flex-wrap: wrap;
}

.main-menu-wrapper > form,
.main-menu-wrapper > a {
  min-height: 42px;
}

.header-logo:active {
  background-color: var( --special-darkred);
}

.search {
  position: relative;
  display: flex;
  color: var(--basic-white);
  background-color: inherit;
  width: 270px;
}

.search-button {
  flex-grow: 1;
  background-color: inherit;
  padding-left: 42px;
  border: none;

}

.search-button:focus,
.search-button:active {
  color: var(--basic-black);
  background-color: var(--basic-white);
}

.search-button::placeholder {
  color: var(--basic-white);
}

.search-icon {
  position: absolute;
  top: 12px;
  left: 17px;
}

.search-icon-color {
  fill: var(--special-white-button);
}

.search-button:hover + .search-icon .search-icon-color {
  fill: var(--basic-white);
}

.search-button:active + .search-icon .search-icon-color,
.search-button:focus + .search-icon .search-icon-color {
  fill: var(--basic-red);
}

.bookmark,
.cart {
  position: relative;
  width: 150px;
  padding-top: 10px;
  padding-left: 43px;
  box-sizing: border-box;
}

.cart {
  padding-left: 49px;
}

.bookmark:active {
  color: var(--special-greylight);
  background-color: var(--special-black);
}

.bookmark::after {
  position: absolute;
  top: 13px;
  left: 20px;
  content:"";
  background-image: url("../img/decor/icon-bookmark.svg");
  background-repeat: no-repeat;
  opacity: 0.3;
  width: 14px;
  height: 16px;
}

.cart:active {
  color: var(--special-greylight);
}

.cart::after {
  position: absolute;
  left: 26px;
  top: 13px;
  content:"";
  background-image: url("../img/decor/icon-cart.svg");
  background-repeat: no-repeat;
  opacity: 0.3;
  width: 14px;
  height: 16px;
}

.bookmark:hover::after,
.bookmark:focus::after,
.cart:hover::after,
.cart:focus::after {
  opacity: 1;
}

.bookmark:active::after,
.cart:active::after {
  opacity: 0.3;
}

.order {
  background-color: var(--basic-green);
  width: 150px;
  padding-top: 10px;
  padding-left: 19px;
  box-sizing: border-box;
}

.order:hover,
.order:focus  {
  background-color: var(--success);
}

.order:active {
  color: var(--special-greylight);
  background-color: var(--basic-green);
}

.header-container {
  display: flex;
  flex-wrap: wrap;
}

.header-text {
  font-size: 16px;
  line-height: 23px;
  font-style: italic;
  font-weight: 400;
  text-transform: none;
  color: var(--basic-red);
  width: 220px;
  min-height: 71px;
  margin: 42px 70px 0px 30px;
}

.header-contacts {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: flex-start;
  width: 270px;
  margin-top: 46px;
  margin-right: 51px;
}

.header-phone {
  position: relative;
  font-size: 21px;
  line-height: 30px;
  font-weight: bold;
  color: var(--basic-red);
  width: 270px;
  min-height: 34px;
  padding-top: 5px;
  padding-left: 71px;
  border: 3px solid var(--basic-white);
  margin: 0px;
}

.header-phone::after {
  position: absolute;
  top: 10px;
  left: 36px;
  content: "";
  background-image: url("../img/decor/icon-phone.svg");
  background-repeat: no-repeat;
  width: 19px;
  height: 19px;
}

.header-address {
  font-size: 14px;
  font-style: normal;
  color: var(--special-grey);
  margin-top: 3px;
}

.user-menu {
  display: none;
  justify-content: flex-end;
  align-items: flex-start;
  flex-wrap: wrap;
  width: 299px;
  box-sizing: border-box;
  margin-top: 46px;
}

.current-menu {
  display: flex;
}

.user-profile-container {
  display: flex;
  align-items: flex-start;
  background-color: var(--basic-white);
  width: 100%;
  min-height: 45px;
  padding-right: 14px;
  padding-left: 15px;
  margin-bottom: 6px;
}

.user-profile {
  display: flex;
  margin-top: 13px;
}

.user-profile:active {
  color: var(--basic-greylight);
}

.user-profile:hover path,
.user-profile:focus path{
  fill: var(--basic-grey);
}

.user-profile:active path {
  fill: var(--basic-greylight);
}

.user-name {
  font-size: 21px;
  line-height: 21px;
  margin-left: 21px;
}

.log-out {
  background-color: inherit;
  padding: 0px;
  margin: 13px 0px 0px 21px;
  border: none;
  cursor: pointer;
}

.log-out:hover path,
.log-out:focus path{
  fill: var(--basic-grey);
}

.log-out:active path {
  fill: var(--basic-greylight);
}

.user-menu-list {
  display: flex;
  justify-content: center;
  align-content: flex-start;
  flex-wrap: wrap;
  flex-grow: 1;
  font-size: 16px;
  line-height: 18px;
  color: var(--special-grey);
}

.user-menu-list li:hover,
.user-menu-list li:focus-within {
  color: var(--basic-red);
}

.user-menu-list li:active {
  color: var(--basic-greylight);
}

.user-menu-list li:not(:last-child) {
  position: relative;
  padding-right: 17px;
  margin-right: 15px;
}

.user-menu-list li:not(:last-child)::after {
  position: absolute;
  top: 42%;
  right: 0px;
  content: "";
  background-color: var(--special-grey);
  width: 4px;
  height: 4px;
  border-radius: 50%;
}

.user-menu-list li:hover::after,
.user-menu-list li:focus-within::after {
  background-color: var(--basic-red);
}

.user-menu-list a:active::after {
  background-color: var(--basic-greylight);
}

.login-button {
  font-size: 21px;
  line-height: 21px;
  color: var(--basic-black);
  background-color: var(--basic-white);
  padding: 12px 0px;
  box-sizing: border-box;
  margin-bottom: 10px;
  margin-left: 10px;
}

.login-button:hover,
.login-button:focus  {
  color: var(--basic-red);
}

.login-button:active {
  color: var(--basic-greylight);
}

.login-button-sign-in {
  display: flex;
  align-items: center;
  width: 121px;
}

.icon-sign-in {
  padding-left: 19px;
  margin-right: 6px;
}

.login-button-sign-in:hover path,
.login-button-sign-in:focus path {
  fill: var(--basic-grey);
}

.login-button-sign-in:active path {
  fill: var(--basic-greylight);
}

.login-button-registration {
  width: 150px;
  padding: 12px 24px;
}

.main-navigation-container {
  width: 100%;
  margin-top: 40px;
}

.main-navigation {
  display: flex;
  flex-wrap: wrap;
  background-color: var(--special-grey);
  box-shadow: 0px 5px 0px var(--special-darkgrey);
}

.main-navigation li {
  text-align: center;
  color: var(--basic-white);
  padding: 18px 28px 14px 28px;
  margin: 0;
}

.main-navigation li:first-child {
  padding-left: 53px;
}

.main-navigation .main-navigation-company {
  padding-right: 29px;
}

.main-navigation .main-navigation-contacts {
  padding-right: 53px;
}

.main-navigation li:hover,
.main-navigation li:focus-within {
  background-color: var(--special-darkgrey);
}

.main-navigation li:active {
  color: var(--special-greylight);
  background-color: var(--special-dark);
}


/* breadcrumbs */


.breadcrumbs-list {
  grid-column: 1 / -1;
  grid-row: 1 / 2;
  display: flex;
  flex-wrap: wrap;
  font-size: 13px;
  line-height: 18px;
  font-family: "PT Sans", Arial, sans-serif;
  text-transform: uppercase;
  color: var(--basic-black);
}

.breadcrumbs-list .home {
  display: block;
  background-image: url("../img/content/icon-home.svg");
  background-repeat: no-repeat;
  background-size: 14px 12px;
  width: 14px;
  height: 12px;
  margin-top: 3px;
}

.breadcrumbs-list li:not(:last-child) {
  position: relative;
  padding-right: 26px;
  margin-right: 16px;
}

.breadcrumbs-list li:not(:last-child)::after {
  position: absolute;
  top: 2px;
  right: 2px;
  content: "";
  background-image: url("../img/decor/grey-icon-right-small.svg");
  background-repeat: no-repeat;
  width: 8px;
  height: 12px;
}


/* Promo block */


.promo-container {
  margin-bottom: 59px;
}

.promo-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-gap: 20px;
  font-size: 24px;
  line-height: 30px;
  color: var(--basic-white);
}

.promo-list li:not([class="promo-slider"]) {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 300px;
  min-height: 123px;
  padding-left: 22px;
  box-sizing: border-box;
  margin: 0px;
}

.promo-list h3 {
  font-size: 24px;
  line-height: 30px;
  font-family: "Cuprum", Arial, sans-serif;
  font-weight: bold;
  padding: 0;
  margin: 20px 40% 10px 0px;
}

.promo-list-button {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  color: var(--basic-white);
  background-color: var(--special-white-button);
  width: 135px;
  padding-top: 9px;
  box-sizing: border-box;
  margin-top: auto;
  margin-bottom: 21px;
}

.promo-list-button:hover,
.promo-list-button:focus {
  background-color: var(--special-greylight-button);
}

.promo-list-button:active {
  background-color: var(--special-grey-button);
}

.promo-list-image {
  background-repeat: no-repeat;
}

.materials.promo-list-image {
 background-image: url("../img/decor/icon-1.svg");
 background-position: top 31px right 43px;
 background-size: 44px 65px;
}

.tools.promo-list-image {
  background-image: url("../img/decor/icon-2.svg");
  background-position: top 34px right 31px;
  background-size: 75px 61px;
}

.appliances.promo-list-image {
  background-image: url("../img/decor/icon-3.svg");
  background-position: top 31px right 31px;
  background-size: 78px 62px;
}

.discount.promo-list-image {
  background-image: url("../img/decor/icon-4.svg");
  background-position: top 26px right 45px;
  background-size: 59px 72px;
}

.delivery.promo-list-image {
  background-image: url("../img/decor/icon-5.svg");
  background-position: top 32px right 31px;
  background-size: 78px 63px;
}

.materials {
  background-color: var(--special-yellow);
  padding-left: 23px;
}

.tools {
  background-color: var(--special-blue);
}

.appliances {
  background-color: var(--special-lilac);
}

.discount {
  background-color: var(--special-greenlight);
  padding-bottom: 2px;
  padding-left: 23px;
}

.delivery {
  background-color: var(--basic-yellow);
  padding-bottom: 1px;
}

.promo-slider {
  grid-column: 1 / 3;
  grid-row: -1 / -3;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 620px;
  min-height: 266px;
}

.promo-slider-wrapper {
  display: none;
  flex-direction: column;
  font-size: 18px;
  line-height: 24px;
  color: var(--basic-white);
  background-color: var(--background-grey);
  min-height: 103px;
  padding-left: 24px;
  box-sizing: border-box;
  margin-bottom: 10px;
}

.current-slide {
  display: flex;
}

.promo-slider h3 {
  font-size: 36px;
  line-height: 36px;
  text-transform: uppercase;
  margin: 22px 0px 8px;
}

.promo-slider p {
  padding: 0;
  margin: 0;
}

.promo-slider img {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: var(--basic-black);
  z-index: -2;
}

.promo-slider-button {
  position: absolute;
  bottom: 27px;
  left: 24px;
  text-align: center;
  width: 192px;
}

.promo-slider-control {
  display: flex;
  justify-content: space-between;
  padding-right: 20px;
  padding-left: 25px;
  box-sizing: border-box;
  margin-bottom: 101px;
}

.promo-slider-control .slider-button {
  background-color: transparent;
  background-image: url("../img/decor/icon-right-small.svg");
  background-repeat: no-repeat;
  background-size: 22px 43px;
  width: 22px;
  height: 43px;
  border: none;
  cursor: pointer;
}

.slider-button-back {
  transform: rotate(180deg);
}

.promo-slider-pagination {
  position: absolute;
  bottom: 36px;
  left: 47.6%;
  display: flex;
  justify-content: space-between;
  width: 30px;
}

.promo-slider-pagination-item {
  width: 6px;
  height: 6px;
  background-color: var(--basic-white);
  border: 2px solid var(--basic-white);
  border-radius: 50%;
}

.promo-slider-pagination .current-pagination-item {
  background-color: var(--basic-red);
}


/* products */


.inner-page .products {
  grid-column: 2 / 3;
  grid-row: 4 / 5;
}

.main-page .products {
  margin-bottom: 70px;
}

.products-main-title {
  font-size: 30px;
  line-height: 30px;
  font-family: "Cuprum", Arial, sans-serif;
  font-weight: normal;
  color: var(--special-grey);
}

.inner-page .products-main-title {
  grid-column: 1 / -1;
  grid-row: 2 / 3;
  background-color: var(--special-silver);
  padding: 29px 0px 30px 29px;
}

.products-button {
  text-align: center;
  width: 192px;
  padding-top: 11px;
  padding-bottom: 9px;
  box-sizing: border-box;
  margin-right: 1px;
}

.products-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 20px;
}

.inner-page .products-list {
  grid-template-columns: 1fr 1fr 1fr;
  margin-bottom: 50px;
}

.products-list > li {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 220px;
  min-height: 318px;
  border: 1px solid var(--basic-silverlight);
  box-sizing: border-box;
  margin: 0px;
}

.products-list del {
  word-break: break-all;
}

.inner-page .products-list > li {
  margin-bottom: -2px;
}

.products-list > li:hover,
.products-list > li:focus-within {
  box-shadow: 0px 4px 20px var(--basic-darkgrey);
}

.products-item-header {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 177px;
}

.products-list img {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  object-fit: contain;
}

.products-item-option-1 img {
  margin-top: 5px;
}

.products-item-option-2 img {
  margin-top: 28px;
  margin-left: -3px;
}

.products-item-option-3 img {
  margin-top: 21px;
  margin-left: -10px;
}

.products-list > li:hover img,
.products-list > li:focus-within img {
  display: none;
}

.products-item-button-container {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto auto;
  grid-gap: 10px;
  margin: 37px 0px auto -2px;
  opacity: 0;
}

.products-list > li:hover .products-item-button-container,
.products-list > li:focus-within .products-item-button-container {
  opacity: 1;
}

.products-item-button-container .button {
  font-size: 14px;
  line-height: 18px;
  font-family: "Cuprum", Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  width: 135px;
  box-sizing: border-box;
}

.button-buy {
  position: relative;
  text-align: left;
  background-color: var(--basic-green);
  box-shadow: inset 0px -3px 0px var(--basic-darkgreen);
  padding-left: 53px;
  border: none;
  border-radius: 2px;
}

.button-buy::before {
  position: absolute;
  top: 10px;
  left: 30px;
  content: "";
  background-image: url("../img/decor/icon-cart.svg");
  width: 15px;
  height: 15px;
  opacity: 0.3;
}

.button-buy:hover,
.button-buy:focus {
  background-color: var(--success);
  border-color: var(--success);
}

.button-buy:active {
  background-color: var(--special-darkgreen);
  border-color: var(--special-darkgreen);
}

.button-to-bookmark {
  color: var(--special-grey);
  background-color: var(--basic-white);
  padding-top: 2px;
  border: 3px solid var(--basic-green);
}

.button-to-bookmark:hover,
.button-to-bookmark:focus {
  color: var(--special-grey);
  border-color: var(--special-grey);
}

.button-to-bookmark:active {
  color: var(--special-grey);
  border-color: var(--special-grey);
  opacity: 0.3;
}

.products-list h3 {
  font-size: 18px;
  line-height: 20px;
  font-family: "PT Sans", Arial, sans-serif;
  font-weight: bold;
  text-transform: none;
  text-align: center;
  margin: 0px 30px auto 31px;
}

.products-item-option-2 h3 {
  margin-left: 29px;
}

.deleted-price {
  font-size: 17px;
  line-height: 18px;
  font-weight: bold;
  font-family: "PT Sans", Arial, sans-serif;
  text-decoration: line-through;
  color: var(--basic-silver);
  margin: 5px 10px 0px;
}

.products-item-option-2 .deleted-price {
  padding-right: 3px;
}

.current-price {
  font-size: 17px;
  line-height: 18px;
  font-weight: bold;
  font-family: "PT Sans", Arial, sans-serif;
  text-align: center;
  word-wrap: break-word;
  background-image: url("../img/decor/angle.svg"),
    linear-gradient(to left, transparent 20px,  var(--basic-red) 20px);
  background-size: 20px 100%,
    auto;
  background-repeat: no-repeat;
  background-position: right 0px bottom 0px;
  width: 141px;
  min-height: 38px;
  padding: 8px 16px 10px 5px;
  box-sizing: border-box;
  margin: 14.5px 0px 20px 11px;
}

.products-item-option-1 .current-price {
  margin-left: 16px;
}

.products-pagination {
  grid-column: 1 / -1;
  grid-row: -1 / -2;
  display: flex;
  flex-wrap: wrap;
}

.products-pagination li {
  margin-right: 10px;
  margin-bottom: 10px;
}

.products-pagination-button {
  font-size: 13px;
  line-height: 18px;
  font-family: "PT Sans", Arial, sans-serif;
  text-align: center;
  color: var(--basic-black);
  background-color: var(--basic-white);
  width: 38px;
  min-height: 38px;
  padding: 9px 3px;
  border: 1px solid var(--special-beige);
  box-sizing: border-box;
  border-radius: 2px;
}

.products-pagination-button:hover,
.products-pagination-button:focus {
  border-color: var(--basic-greylight);
}

.products-pagination-button:active {
  border-color: var(--basic-red);
}

.products-pagination .pagination-next {
  order: 2;
}

.button-next {
  text-transform: uppercase;
  width: 140px;
}

.current-button {
  color: var(--basic-white);
  background-color: var(--basic-red);
  border-color: var(--basic-red);
}


/* about-products  */


.about .title {
  margin-bottom: 24px;
}

.about-products {
  background-color: var(--basic-background);
  padding-top: 64px;
  padding-bottom: 70px;
  margin-top: 50px;
}

.about-products-title {
  font-size: 30px;
  line-height: 30px;
  font-family: "Cuprum", Arial, sans-serif;
  font-weight: normal;
  font-style: normal;
  color: var(--basic-black);
  margin-bottom: 25px;
}

.about-products p {
  font-size: 13px;
  line-height: 24px;
  font-family: "PT Sans", Arial, sans-serif;
  color: var(--basic-black);
  padding: 0px;
  margin: 0px;
}


/*  manufacturers  */


.manufacturers {
  margin-bottom: 70px;
}

.manufacturers .title-container {
  padding-right: 19px;
}

.manufacturers .title {
  font-size: 30px;
  line-height: 30px;
  font-family: "Cuprum", Arial, sans-serif;
  font-weight: normal;
  color: var(--special-grey);
}

.manufacturers-button {
  margin-bottom: 1px;
}

.manufacturers-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 20px;
}

.manufacturers-list img {
  display: block;
}

.manufacturers-list li:hover,
.manufacturers-list li:focus-within {
  box-shadow: 0px 4px 20px var(--basic-darkgrey);
}

.manufacturers-list li:active {
  box-shadow: 0px 4px 20px var(--basic-darkgrey);
  opacity: 0.5;
}


/*  services  */


.services {
  background-color: var(--basic-background);
  padding-top: 64px;
  padding-bottom: 55px;
}

.services-layout {
  display: grid;
  grid-template-columns: 240px 1fr;
  grid-template-rows: auto auto;
}

.services-header{
  grid-column: 1 / 3;
  grid-row: 1 / 2;
}

.services h2 {
  font-size: 30px;
  line-height: 30px;
  font-family: "Cuprum", Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  color: var(--basic-black);
  margin-bottom: 24px;
}

.services p {
  font-size: 13px;
  line-height: 24px;
  font-family: "PT Sans", Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
}

.services-button-list {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 240px;
  padding: 49px 0px 45px;
  margin-top: 10px;
}

.services-button-list::after {
  position: absolute;
  right: 0px;
  content:"";
  background-image: url("../img/decor/shadow.png");
  background-repeat: no-repeat;
  background-size: 10px 100%;
  width: 10px;
  height: 100%;
}

.services-button {
  font-size: 21px;
  line-height: 30px;
  font-family: "Cuprum", Arial, sans-serif;
  font-weight: bold;
  text-align: left;
  color: var(--basic-white);
  background-color: var(--special-grey);
  box-shadow: inset 0px 1px 0px var(--basic-brightnavy),
  inset 0px -1px 0px var(--special-darkgrey);
  width: 240px;
  min-height: 62px;
  padding-bottom: 3px;
  padding-left: 22px;
  border: none;
  box-sizing: border-box;
}

.services-button:hover,
.services-button:focus {
  background-color: var(--special-darkgrey);
  box-shadow: inset 0px 1px 0px var(--basic-brightnavy),
  inset 0px 0px 0px var(--special-darkgrey);
}

.services-button:active {
  color: var(--special-grey);
  background-color: var(--basic-white);
  box-shadow: none;
}

.services-list {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  height: 100%;
  margin-left: 80px;
}

.services-list li {
  display: none;
  flex-direction: column;
  background-repeat: no-repeat;
  background-position: right 1px bottom -49px;
  height: 100%;
}

.services-list .current-item {
  display: flex;
}

.services-item-delivery {
  background-image: url("../img/decor/delivery-image.png");
}

.services-item-guarantee {
  background-image: url("../img/decor/guarantee-image.png");
  background-position: right 0px bottom -47px;
  margin-right: -8px;
}

.services-item-credit {
  background-image: url("../img/decor/credit-image.png");
  background-position: right 0px bottom -49px;
  margin-right: -10px;
}

.services-list h3 {
  font-size: 30px;
  line-height: 30px;
  font-family: "Cuprum", Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  color: var(--special-grey);
  padding-top: 58px;
  padding-bottom: 15px;
}

.services-item-guarantee .title {
  padding-bottom: 9px;
}

.services-item-credit .title {
  padding-bottom: 14px;
}

.services-list p,
.services-list h3 {
  margin-right: 230px;
}

.credit-button {
  line-height: 18px;
  font-family: "Cuprum", Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  color: var(--basic-white);
  border-radius: 4px;
  width: 195px;
  margin-top: 13px;
}


/* about */


.about {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  display: flex;
  flex-direction: column;
  font-size: 13px;
  line-height: 24px;
  font-family: "PT Sans", Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
}

.about .title {
  font-size: 30px;
  line-height: 32px;
  font-family: "Cuprum", Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  word-spacing: -0.1em;
  color: var(--special-black);
  margin-bottom: 20px;
}

.about p {
  margin: 0px;
}

.about p:first-of-type {
  margin-bottom: 26px;
}

.about p:nth-of-type(2) {
  line-height: 25px;
}

.about-list {
  font-size: 18px;
  line-height: 24px;
  font-family: "Cuprum", Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  margin-top: 2px;
}

.about-list li {
  position: relative;
  padding-left: 37px;
  margin-bottom: 12px;
}

.about-list li::before {
  position: absolute;
  top: 0.6em;
  left: 0px;
  content: "";
  background-color: var(--basic-red);
  width: 25px;
  height: 2px;
}

.about-list li:first-child::before {
  top: 0.7em;
}

.about-list li:nth-child(3)::before {
  top: 0.5em;
}

.about-list li:last-child {
  margin-bottom: 20px;
}

.about-button {
  font-size: 14px;
  line-height: 18px;
  font-family: "Cuprum", Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  width: 220px;
}


/* contacts */


.contacts {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  display: flex;
  flex-direction: column;
  font-size: 13px;
  line-height: 24px;
  font-family: "PT Sans", Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
}

.contacts .title {
  font-size: 30px;
  line-height: 30px;
  font-family: "Cuprum", Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  color: var(--special-black);
  margin-bottom: 23px;
}

.contacts p {
  margin: 0px;
  margin-bottom: 34px;
}

.contacts button {
  border: none;
}

.contacts .contacts-map {
  display: flex;
  min-height: 158px;
  padding: 0px;
  margin-bottom: 23px;
  cursor: pointer;
}

.contacts-button {
  font-size: 14px;
  line-height: 18px;
  font-family: "Cuprum", Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  width: 100%;
}


/* filter */


.filter {
  grid-column: 1 / 2;
  grid-row: 3 / 5;
}

.filter-title {
  font-size: 13px;
  line-height: 18px;
  font-family: "PT Sans", Arial, sans-serif;
  font-weight: normal;
  color: var(--basic-black);
  background-color: var(--basic-beige);
  padding: 10px 0px 10px 18px;
  margin-bottom: 12px;
}

.filter fieldset {
  padding: 0px;
  margin: 0px;
  border: none;
}

.filter legend {
  font-size: 17px;
  line-height: 30px;
  font-family: "PT Sans", Arial, sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  color: var(--basic-black);
  margin-bottom: 12px;
}

.filter .filter-price {
  padding-bottom: 25px;
  border-bottom: 1px solid var(--basic-darkgrey);
  margin-bottom: 14px;
}

.filter-range {
  position: relative;
  background-color: var(--basic-beige);
  padding: 39px 20px 0px;
  border-radius: 5px;
  margin-bottom: 9px;
  height: 41px;
}

.filter-scale {
  height: 2px;
  background-color: var(--special-darksilver);
}

.filter-scale .bar{
  height: 2px;
  background-color: var(--special-green);
}

.toggle {
  position: absolute;
  top: 29px;
  left: 18px;
  background-color: var(--basic-creamlight);
  box-shadow: 0 2px 0 0 var(--basic-cream);
  width: 4px;
  height: 4px;
  border: 8px solid var(--basic-white);
  border-radius: 50%;
  cursor: pointer;
}

.price-control {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.price-control input {
  text-align: center;
  background-color: var(--basic-beige);
  width: 95px;
  min-height: 38px;
  padding: 0px;
  padding-left: 14px;
  border: none;
  box-sizing: border-box;
}

.filter label {
  font-size: 15px;
  line-height: 19px;
  font-family: "PT Sans", Arial, sans-serif;
  text-transform: uppercase;
}

.filter .filter-manufacturers {
  padding-bottom: 11px;
  border-bottom: 1px solid var(--basic-darkgrey);
  margin-bottom: 17px;
}

.filter-manufacturers legend {
  margin-bottom: 18px;
}

.filter-manufacturers .checkbox-item {
  position: relative;
  padding-left: 35px;
  margin-bottom: 18px;
}

.filter-checkbox {
  cursor: pointer;
}

.filter-checkbox::before {
  position: absolute;
  top: -1px;
  left: 0px;
  content: " ";
  background-color: var(--basic-white);
  width: 19px;
  height: 19px;
  border: 2px solid var(--basic-greylight);
  border-radius: 3px;
}

.checkbox-item:hover .filter-checkbox::before,
.checkbox-item:focus-within .filter-checkbox::before  {
  border-color: var(--basic-darkcream);
}

.checkbox-item:active {
  opacity: 0.3;
}

.filter-checkbox-button:checked + .filter-checkbox::before {
  border: none;
  width: 27px;
  height: 23px;
  background-image: url("data:image/svg+xml,%3Csvg width='27' height='23' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7.29 7.49L4.46 10.3l7.78 7.79L26.17 4.17l-2.83-2.83-11.1 11.1-4.95-4.95z' fill='%23C5C5C5'/%3E%3Cpath d='M21 20c0 .54-.46 1-1 1H3c-.54 0-1-.46-1-1V3c0-.54.46-1 1-1h16.9L21.5.42A2.96 2.96 0 0020 0H3a3 3 0 00-3 3v17a3 3 0 003 3h17a3 3 0 003-3v-9.83l-2 2V20z' fill='%23C5C5C5'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
}

.checkbox-item:hover .filter-checkbox-button:checked + .filter-checkbox::before,
.checkbox-item:focus-within .filter-checkbox-button:checked + .filter-checkbox::before {
  background-image: url("data:image/svg+xml,%3Csvg width='27' height='23' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7.29 7.49L4.46 10.3l7.78 7.79L26.17 4.17l-2.83-2.83-11.1 11.1-4.95-4.95z' fill='%23B5B5B5'/%3E%3Cpath d='M21 20c0 .54-.46 1-1 1H3c-.54 0-1-.46-1-1V3c0-.54.46-1 1-1h16.9L21.5.42A2.96 2.96 0 0020 0H3a3 3 0 00-3 3v17a3 3 0 003 3h17a3 3 0 003-3v-9.83l-2 2V20z' fill='%23B5B5B5'/%3E%3C/svg%3E");
}

.filter .filter-power{
  margin-bottom: 16px;
}

.filter-power legend {
  margin-bottom: 22px;
}

.filter-power .radio-item {
  position: relative;
  padding-left: 35px;
  margin-bottom: 21px;
  cursor: pointer;
}

.filter-radio {
  cursor: pointer;
}

.filter-radio::before {
  position: absolute;
  top: 4px;
  left: 5px;
  content: " ";
  background-color: var(--basic-white);
  box-shadow: 0 0 0 4px var(--basic-greylight);
  width: 9px;
  height: 9px;
  border: 4px solid var(--basic-white);
  border-radius: 50%;
}

.radio-item:hover .filter-radio::before,
.radio-item:focus-within .filter-radio::before  {
  box-shadow: 0 0 0 4px var(--basic-darkcream);
}

.radio-item:active {
  opacity: 0.3;
}

.filter-radio-button:checked + .filter-radio::before {
  background-color: var(--basic-greylight);
}

.radio-item:hover .filter-radio-button:checked + .filter-radio::before,
.radio-item:focus-within .filter-radio-button:checked + .filter-radio::before {
  background-color: var(--basic-darkcream);
}

.filter-button-show {
  font-size: 13px;
  line-height: 18px;
  font-family: "PT Sans", Arial, sans-serif;
  color: var(--basic-black);
  background-color: transparent;
  width: 100%;
  border: 1px solid var(--special-beige);
  cursor: pointer;
}


/*  sort  */


.sort {
  grid-column: 2 / 3;
  grid-row: 3 / 4;
  display: flex;
  align-items: flex-start ;
  background-color: var(--basic-beige);
  min-height: 38px;
  padding-right: 14px;
  padding-left: 20px;
  margin-bottom: 7px;
}

.sort-title {
  font-size: 13px;
  line-height: 18px;
  font-family: "PT Sans", Arial, sans-serif;
  font-weight: normal;
  color: var(--basic-black);
  margin-top: 10px;
}

.sort-list {
  display: flex;
  flex-grow: 1;
  flex-wrap: wrap;
  margin-top: 7px;
}

.sort-item {
  margin-left: 70px;
}

.sort-item:first-child {
  margin-left: 140px;
}

.sort-item.functionality {
  margin-left: 66px;
}

.sort-item.group {
  display: flex;
  justify-content: space-between;
  width: 45px;
  margin-left: 45px;
}

.sort-button {
  font-size: 13px;
  line-height: 18px;
  font-family: "PT Sans", Arial, sans-serif;
  text-decoration: underline dotted var(--basic-red);
  text-transform: uppercase;
  color: var(--basic-black);
  background-color: inherit ;
  opacity: 0.3;
  padding: 0px;
  border: none;
}

.sort-button:hover,
.sort-button:focus {
  text-decoration-style: solid;
  color: var(--basic-black);
  opacity: 1;
}

.sort-button:active {
  text-decoration: none;
  color: var(--basic-red);
  opacity: 1;
}

.sort-ascending-button,
.sort-descending-button {
  text-decoration: none;
  color: var(--basic-greylight);
  background-color: inherit;
  opacity: 1;
}


/*  footer  */


.main-footer {
  font-size: 18px;
  line-height: 24px;
  font-family: "Cuprum", Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  color: var(--basic-white);
  background-color: var(--special-grey);
}

.main-footer-layout {
  display: grid;
  grid-template-columns: 324px 1fr;
  grid-template-rows: max-content 1fr;
}

.main-footer-logo {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  height: 68px;
  padding-top: 20px;
  padding-left: 41px;
}

.footer-contacts {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
  padding-left: 3px;
  margin-top: 29px;
  margin-bottom: 54px;
}

.footer-address,
.footer-phone {
  font-style: normal;
  color: var(--special-silverlight);
}

.footer-navigation {
  display: flex;
  flex-wrap: wrap;
  color: var(--basic-background);
  margin: 37px -1px 0px 10px;
}

.special-navigation {
 padding-left: 23px;
 margin-top: 33px;
 margin-bottom: 74px;
}

.footer-navigation li {
  margin-left: 59px;
}

.footer-navigation li:hover,
.footer-navigation li:focus-within,
.feedback-link:hover,
.feedback-link:focus {
  text-decoration: underline;
}

.footer-navigation li:active {
  text-decoration: none;
  opacity: 0.5;
}

.special-navigation li,
.feedback-link {
  color: var(--special-yellowlight);
}

.footer-bottom {
  font-size: 16px;
  line-height: 18px;
  font-family: "Cuprum", Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  background-color: var(--special-darkgrey);
}

.footer-bottom-layout {
  display: flex;
  align-items: flex-start;
  min-height: 107px;
}

.copyright {
  width: 340px;
  padding-left: 2px;
  margin: 36px 47px 0px 0px;
}

.social-list {
  display: flex;
  flex-wrap: wrap;
  width: 195px;
  margin: 34px 56px 0px 0px;
}

.social-list > li {
  margin-right: 1px;
}

.social-list > li:hover .social-item-background,
.social-list > li:active .social-item-background,
.social-list > li:focus-within .social-item-background {
  fill: var(--basic-red);
}

.feedback {
  width: 157px;
  margin: 35px 0px 0px;
}

.feedback:last-child {
  width: 110px;
  padding-right: 1px;
  margin-left: auto;
}

.feedback-link:active {
  text-decoration: none;
  color: var(--special-red);
}


/* modal */


.modal {
  position: fixed;
  top: 25%;
  left: 0;
  right: 0;
  display: none;
  border-top: 7px solid var(--basic-red);
  box-sizing: border-box;
  margin: auto;
}

.modal-container {
  box-shadow: 0px 20px 40px var(--special-shadow);
  width: 620px;
}


/* modal close */


.modal .close {
  position: absolute;
  width: 25px;
  height: 25px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.modal .close::before,
.modal .close::after {
  position: absolute;
  top: 11px;
  right: 0px;
  content: "";
  height: 4px;
  width: 25px;
  background-color: var(--basic-red);
}

.modal .close::after {
 transform: rotate(-45deg);
}

.modal .close::before {
  transform: rotate(45deg);
 }


/* modal write-us */


.modal-write-us  {
  font-size: 18px;
  line-height: 24px;
  font-family: "Cuprum", Arial, sans-serif;
  font-weight: 400;
  font-style: normal;
  background-image: linear-gradient(to top, var(--special-cream) 113px, var(--basic-white) 113px);
}

.modal-write-us form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 424px;
  padding: 39px 80px 38px 80px;
  box-sizing: border-box;
}

.modal-write-us ul {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  list-style: none;
  height: auto;
  padding: 0px;
  margin: 0px;
}

.modal-write-us li {
  display: flex;
  flex-direction: column;
  width: 220px;
}

.modal-write-us label {
  word-wrap: break-word;
  margin-bottom: 11px;
}

.modal-write-us input,
.modal-write-us textarea {
  font-size: 13px;
  font-family: "PT Sans", Arial, sans-serif;
  text-align: left;
  background-color: (var(--basic-white));
  min-height: 38px;
  padding: 5px 6px 5px 10px;
  border: 2px solid var(--basic-greylight);
  box-sizing: border-box;
  margin-bottom: 13px;
}

.modal-write-us textarea {
  resize: none;
  min-height: 114px;
}

.modal-write-us .user-letter {
  width: 100%;
  order: 2;
}

.modal-write-us .submit {
  font-size: 14px;
  background-color: var(--basic-red);
  padding: 0px;
  border: none;
  margin-top: 30px;
}

.modal-write-us .close {
  top: 11px;
  right: 9px;
}


/* modal map*/


.modal-map  {
  text-align: center;
  background-color: transparent;
  width: 943px;
  min-height: 449px;
}

.modal-map iframe  {
  border: none;
  box-shadow:  0px 4px 20px var(--basic-darkgrey);
}

.modal-map .close {
  top: 7px;
  right: 7px;
}


/*  modal notice*/


.modal-notice {
  min-height: 282px;
  background-color: var(--basic-white);
}

.modal-notice .title {
  position: relative;
  font-size: 24px;
  line-height: 30px;
  font-family: "Cuprum", Arial, sans-serif;
  font-weight: 700;
  font-style: normal;
  text-transform: none;
  padding: 16px 10px 0px 96px;
  margin: 48px 0px 0px 81px;
}

.modal-notice .title::before {
  position: absolute;
  top: 0px;
  left: 0px;
  content: "";
  background-image: url(../img/decor/icon-mark.svg);
  background-repeat: no-repeat;
  width: 66px;
  height: 66px;
}

.modal-notice .button-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  background-color: var(--special-cream);
  padding: 27px 5px;
  margin: 69px 0px 0px;
}

.modal-notice .button {
  margin: 10px 5px;
}

.modal-notice-continue {
  color: var(--basic-black);
  background-color: var(--basic-white);
  width: 192px;
  padding: 11px 10px 9px 10px;
  border: none;
}

.modal-notice .close {
  top: 8px;
  right: 9px;
}

.modal-show {
  display: block;
}












