/* Fonts */


@font-face {
  font-family: 'Cuprum';
  font-style: normal;
  font-weight: 400;
  src: local('Cuprum'),
  url('../fonts/cuprum.woff2') format('woff2'),
  url('../fonts/cuprum.woff') format('woff');
}

@font-face {
  font-family: 'Cuprum';
  font-style: normal;
  font-weight: 700;
  src: local('Cuprum'),
  url('../fonts/cuprumbold.woff2') format('woff2'),
  url('../fonts/cuprumbold.woff') format('woff');
}

@font-face {
  font-family: 'Cuprum';
  font-style: italic;
  font-weight: 400;
  src: local('Cuprum'),
  url('../fonts/cuprumitalic.woff2') format('woff2'),
  url('../fonts/cuprumitalic.woff') format('woff');
}

@font-face {
  font-family: 'Cuprum';
  font-style: italic;
  font-weight: 700;
  src: local('Cuprum'),
  url('../fonts/cuprumbolditalic.woff2') format('woff2'),
  url('../fonts/cuprumbolditalic.woff') format('woff');
}

@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  src: local('PT Sans'),
  url('../fonts/ptsans.woff2') format('woff2'),
  url('../fonts/ptsans.woff') format('woff');
}

@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 700;
  src: local('PT Sans'),
  url('../fonts/ptsansbold.woff2') format('woff2'),
  url('../fonts/ptsansbold.woff') format('woff');
}


/* Variables */


:root {
  --basic-red: #EE3643;
  --basic-green: #63A63E;
  --basic-grey: #3D546F;
  --basic-darkgrey: rgba(0, 0, 0, 0.15);
  --basic-darkgreen: #367315;
  --basic-greylight: #C5C5C5;
  --basic-background: #F1F5F7;
  --basic-black: #000000;
  --basic-white: #FFFFFF;
  --basic-yellow: #FFC047;
  --basic-silver: #A9A9A9;
  --basic-silverlight: rgba(234, 234, 234, 1);
  --basic-beige: #F7F3EC;
  --basic-brightnavy: #405069;

  --special-darkgreen:#518534;
  --special-red: #CA2C37;
  --special-darkred: #BA2732;
  --special-yellow: #FFBF47;
  --special-blue: #3BBCE3;
  --special-lilac: #DC91D8;
  --special-greenlight: #8ED78F;
  --special-yellowlight: #FFD180;
  --special-greylight: rgba(255, 255, 255, 0.5);
  --spacial-white-button: rgba(255, 255, 255, 0.3);
  --spacial-greylight-button: rgba(197, 197, 197, 0.3);
  --spacial-grey-button: rgba(169, 169, 169, 0.3);
  --special-darkgrey: #293449;
  --special-grey: #32425C;
  --special-black: #161D29;
  --special-dark: #1D2739;
  --special-darkblue: #212A3A;
  --spacial-beige: #E5E5E5;
  --special-silver: #F2F6F8;
  --special-silverlight: #F3F7F9;

  --background-light: #F9F5F0;
  --background-grey: rgba(0, 0, 0, 0.25);
  --success: #5FBB2D;
}


/* Global */


body {
  font-size: 18px;
  line-height: normal;
  font-family: "Cuprum", Arial, sans-serif ;
  font-weight: normal;
  color: var(--basic-black);
  background-color: var(--basic-white);

  min-width: 960px;
  min-height: 100%;
}

a {
  text-decoration: none;
  color: inherit;

  padding: 0px;
  margin: 0px;
}


/* Common */


.page {
  height: 100%;
}

.inner-page-layout {
  display: grid;
  grid-template-columns: 220px 1fr;
  grid-template-rows: repeat(4, auto);
  grid-gap: 20px;
}

.index-columns {
  display: grid;
  grid-template-columns: 460px 300px;
  grid-gap: 180px;
  padding-top: 71px;
  padding-bottom: 72px;
}

.container {
  width: 940px;
  margin: 0 auto;
}

.list {
  list-style: none;

  padding: 0px;
  margin: 0px;
}

.title {
  text-transform: uppercase;

  padding: 0px;
  margin: 0px;
}

.title-container {
  display: flex;
  justify-content: space-between;
  align-items: center ;

  background-color: var(--background-light) ;

  min-height: 89px;
  padding-right: 13px;
  padding-left: 28px;
  box-sizing: border-box;
}

.logo {
  background-color: var( --basic-red);
  box-shadow: inset 0px -5px 0px rgba(0, 0, 0, 0.24);

  width: 220px;
  box-sizing: border-box;
  margin-bottom: -5px;
}

.new {
  position: absolute;
  top: 0px;
  right: 0px;

  background-image: linear-gradient(45deg, transparent 52%, var(--basic-red) 52%, var(--basic-red) 82%, transparent 82%);

  min-width: 70px;
  min-height: 70px;
}

.new em {
  display: block;

  font-size: 14px;
  line-height: 18px;
  font-family: "Cuprum", Arial, sans-serif ;
  font-weight: normal;
  font-style: normal;
  text-align: center;
  text-transform: uppercase;
  color: var(--basic-white);
  transform: rotate(45deg) translateX(18px) translateY(3px);
}

.button,
.current-price {
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: var(--basic-white);
  outline: none;

  min-height: 38px;
}

.main-page-button {
  background-color: var(--basic-red);

  text-align: center;

  min-height: 38px;
  width: 192px;
  padding-top: 11px;
  padding-bottom: 9px;
  box-sizing: border-box;
}

.main-page-button:hover {
  background-color: var(--special-red);
}

.main-page-button:active,
.main-page-button:focus {
  background-color: var(--special-darkred);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}


/* header */


.main-header {
  background-color: var(--basic-background);

  padding-bottom: 66px;
}

.main-page .main-header {
  margin-bottom: 60px;
}

.main-menu {
  font-size: 18px;
  line-height: 24px;
  font-family: "Cuprum", Arial, sans-serif;
  color: var(--basic-white);
  background-color: var(--special-darkgrey);
}

.main-menu-layout {
  display: flex;

  min-height: 42px;
}

.header-logo {
  padding-top: 12px;
  padding-left: 56px;
  margin-bottom: -5px;
}

.header-logo:active {
  background-color: var( --special-darkred);
}

.search {
  position: relative;

  display: flex;

  color: var(--basic-white);
  background-color: inherit;

  width: 270px;
}

.search-button {
  flex-grow: 1;

  line-height: 24px;
  background-color: inherit;

  padding-left: 42px;
  border: none;
  outline: none;
}

.search-button:focus,
.search-button:active {
  color: var(--basic-black);
  background-color: var(--basic-white);
}

.search-button::placeholder {
  color: var(--basic-white);
}

.search-icon {
  position: absolute;
  top: 12px;
  left: 17px;
}

.search-icon-color {
  fill: var(--spacial-white-button);
}

.search-button:hover + .search-icon .search-icon-color {
  fill: var(--basic-white);
}

.search-button:active + .search-icon .search-icon-color,
.search-button:focus + .search-icon .search-icon-color {
  fill: var(--basic-red);
}

.bookmark {
  position: relative;

  width: 150px;
  padding-top: 9px;
  padding-left: 43px;
  box-sizing: border-box;
}

.bookmark:active,
.bookmark:focus {
  color: var(--special-greylight);
  background-color: var(--special-black);
}

.bookmark::after {
  position: absolute;
  top: 13px;
  left: 20px;

  content:"";
  background-image: url("../img/decor/icon-bookmark.svg");
  background-repeat: no-repeat;
  opacity: 0.3;

  width: 14px;
  height: 16px;
}

.cart {
  position: relative;

  width: 150px;
  padding-top: 9px;
  padding-left: 49px;
  box-sizing: border-box;
}

.cart:active,
.cart:focus {
  color: var(--special-greylight);
}

.cart::after {
  position: absolute;
  left: 26px;
  top: 13px;

  content:"";
  background-image: url("../img/decor/icon-cart.svg");
  background-repeat: no-repeat;
  opacity: 0.3;

  width: 14px;
  height: 16px;
}

.bookmark:hover::after,
.cart:hover::after {
  opacity: 1;
}

.bookmark:active::after,
.bookmark:focus::after,
.cart:active::after,
.cart:focus::after {
  opacity: 0.3;
}

.order {
  background-color: var(--basic-green);

  width: 150px;
  padding-top: 9px;
  padding-left: 19px;
  box-sizing: border-box;
}

.order:hover {
  background-color: var(--success);
}

.order:active,
.order:focus {
  color: var(--special-greylight);
  background-color: var(--basic-green);
}

.header-layout {
  display: flex;
  flex-wrap: wrap;
}

.header-text {
  font-size: 16px;
  line-height: 24px;
  font-style: italic;
  font-weight: 400;
  text-transform: none;
  color: var(--basic-red);

  width: 220px;
  min-height: 71px;
  margin-top: 42px;
  margin-right: 70px;
  margin-left: 30px;
}

.header-contacts {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: flex-start;

  width: 270px;
  margin-top: 46px;
  margin-right: 51px;
}

.header-phone {
  position: relative;

  font-size: 21px;
  line-height: 30px;
  font-family: "Cuprum", Arial, sans-serif;
  font-style: normal;
  font-weight: bold;
  color: var(--basic-red);

  width: 270px;
  min-height: 34px;
  padding-top: 5px;
  padding-left: 71px;
  border: 3px solid var(--basic-white);
  margin: 0px;
}

.header-phone::after {
  position: absolute;
  top: 10px;
  left: 36px;

  content: "";
  background-image: url("../img/decor/icon-phone.svg");
  background-repeat: no-repeat;

  width: 19px;
  height: 19px;
}

.header-address {
  align-self: flex-start;

  font-size: 14px;
  line-height: 24px;
  font-style: normal;
  color: var(--special-grey);

  margin-top: 3px;
}

.user-menu {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  flex-wrap: wrap;

  width: 299px;
  box-sizing: border-box;
  margin-top: 46px;
}

.user-profile {
  background-color: var(--basic-white);
}

.user-profile-name {
  font-size: 21px;
  line-height: 21px;
  color: var(--basic-black);
}

.user-profile-name:active {
  color: var(--basic-greylight);
}

.user-orders,
.user-cabinet {
  font-size: 16px;
  line-height: 18px;
  color: var(--special-grey);
}

.user-orders:hover,
.user-cabinet:hover {
  color: var(--basic-red);
}

.user-orders:active,
.user-cabinet:active {
  color: var(--basic-greylight);
}

.login-button {
  font-size: 21px;
  line-height: 21px;
  font-family: "Cuprum", Arial, sans-serif;
  color: var(--basic-black);
  background-color: var(--basic-white);

  padding-top: 12px;
  padding-bottom: 12px;
  box-sizing: border-box;
  margin-bottom: 10px;
  margin-left: 10px;
}

.login-button:hover {
  color: var(--basic-red);
}

.login-button:active,
.login-button:focus {
  color: var(--basic-greylight);
}

.login-button-sign-in {
  display: flex;
  align-items: center;

  width: 121px;
}

.icon-sign-in {
  padding-left: 19px;
  margin-right: 6px;
}

.login-button-sign-in:hover path {
  fill: var(--basic-grey);
}

.login-button-sign-in:active path,
.login-button-sign-in:focus path {
  fill: var(--basic-greylight);
}

.login-button-registration {
  width: 150px;
  padding-left: 24px;
  padding-right: 24px;
}

.main-navigation {
  width: 100%;
  margin-top: 40px;
}

.header-navigation {
  display: flex;
  flex-wrap: wrap;

  background-color: var(--special-grey);
  box-shadow: 0px 5px 0px var(--special-darkgrey);
}

.header-navigation-item {
  font-size: 18px;
  line-height: 24px;
  text-align: center;
  color: var(--basic-white);

  padding-top: 16px;
  padding-right: 28px;
  padding-bottom: 14px;
  padding-left: 28px;
  margin: 0;
}

.header-navigation-item:first-child {
  padding-left: 53px;
}

.header-navigation-item-company {
  padding-right: 29px;
}

.header-navigation-item-contacts {
  padding-right: 53px;
}

.header-navigation-item:hover {
  background-color: var(--special-darkgrey);
}

.header-navigation-item:active,
.header-navigation-item:focus  {
  color: var(--special-greylight);
  background-color: var(--special-dark);
}


/* Promo block */


.promo-container {
  margin-bottom: 59px;
}

.promo-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-gap: 20px;

  font-size: 24px;
  line-height: 30px;
  color: var(--basic-white);
}

.promo-list-item {
  position: relative;

  display: flex;
  flex-direction: column;
  align-items: flex-start;

  width: 300px;
  min-height: 123px;
  padding-left: 22px;
  box-sizing: border-box;
  margin: 0px;
}

.promo-list-item .title {
  font-size: 24px;
  line-height: 30px;
  font-family: "Cuprum", Arial, sans-serif;
  font-style: normal;
  font-weight: bold;
  text-transform: none;

  margin-top: 20px;
}

.promo-list-button {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  color: var(--basic-white);
  background-color: var(--spacial-white-button);

  width: 135px;
  padding-top: 9px;
  box-sizing: border-box;
  margin-top: auto;
  margin-bottom: 21px;
}

.promo-list-button:hover {
  background-color: var(--spacial-greylight-button);
}

.promo-list-button:active,
.promo-list-button:focus {
  background-color: var(--spacial-grey-button);
}

.promo-list-image {
  background-repeat: no-repeat;
}

.materials.promo-list-image {
 background-image: url("../img/decor/icon-1.svg");
 background-position: top 31px right 43px;
 background-size: 44px 65px;
}

.tools.promo-list-image {
  background-image: url("../img/decor/icon-2.svg");
  background-position: top 34px right 31px;
  background-size: 75px 61px;
}

.appliances.promo-list-image {
  background-image: url("../img/decor/icon-3.svg");
  background-position: top 31px right 31px;
  background-size: 78px 62px;
}

.discount.promo-list-image {
  background-image: url("../img/decor/icon-4.svg");
  background-position: top 26px right 45px;
  background-size: 59px 72px;
}

.delivery.promo-list-image {
  background-image: url("../img/decor/icon-5.svg");
  background-position: top 32px right 31px;
  background-size: 78px 63px;
}

.materials {
  grid-column: 1 / 2;
  grid-row: 1 / 2;

  background-color: var(--special-yellow);

  padding-left: 23px;
}

.tools {
  grid-column: 2 / 3;
  grid-row: 1 / 2;

  background-color: var(--special-blue);
}

.appliances {
  grid-column: 3 / 4;
  grid-row: 1 / 2;

  background-color: var(--special-lilac);
}

.discount {
  grid-column: 3 / 4;
  grid-row: -2 / -3;

  background-color: var(--special-greenlight);

  padding-bottom: 2px;
  padding-left: 23px;
}

.delivery {
  grid-column: 3 / 4;
  grid-row: -1 / -2;

  background-color: var(--basic-yellow);

  padding-bottom: 1px;
}

.promo-slider {
  grid-column: 1 / 3;
  grid-row: -1 / -3;

  position: relative;
}

.promo-slider-wrapper {
  display: none;
  flex-direction: column;

  padding: 0;
  margin: 0;
}

.current-slide {
  display: flex;
}

.promo-slider-caption {
  font-size: 18px;
  line-height: 24px;
  color: var(--basic-white);
  background-color: var(--background-grey);

  min-height: 103px;
  padding-left: 24px;
  box-sizing: border-box;
}

.promo-slider-caption p::first-line {
  font-size: 36px;
  line-height: 47px;
  font-weight: bold;
  text-transform: uppercase;
}

.promo-slider-image {
  position: absolute;
  top: 0px;
  left: 0px;

  width: 100%;
  height: 100%;
  background-color: var(--basic-black);

  z-index: -2;
}

.promo-slider-button {
  position: absolute;
  bottom: 27px;
  left: 24px;

  text-align: center;

  width: 192px;
}

.promo-slider-control {
  display: flex;
  justify-content: space-between;

  padding-right: 14px;
  padding-left: 18px;
  box-sizing: border-box;
  margin-top: 11px;
}

.promo-slider-control .slider-button {
  background-color: transparent;

  border: none;
  outline: none;

  cursor: pointer;
}

.slider-button-back {
  transform: rotate(180deg) translateY(4px);
}

.promo-slider-pagination {
  position: absolute;
  bottom: 36px;
  left: 47.6%;

  display: flex;
  justify-content: space-between;

  width: 30px;
}

.promo-slider-pagination-item {
  width: 6px;
  height: 6px;
  background-color: var(--basic-white);
  border: 2px solid var(--basic-white);
  border-radius: 50%;
}

.promo-slider-pagination .current-pagination-item {
  background-color: var(--basic-red);
}


/* products */


.inner-page .products {
  grid-column: 2 / 3;
  grid-row: 4 / 5;
}

.products-container {
  margin-bottom: 70px;
}

.breadcrumbs-list {
  grid-column: 1 / -1;
  grid-row: 1 / 2;

  display: flex;
  flex-wrap: wrap;

  font-size: 13px;
  line-height: 18px;
  font-family: "PT Sans", Arial, sans-serif;
  text-transform: uppercase;
  color: var(--basic-black);
}

.products-main-title {
  font-size: 30px;
  line-height: 30px;
  font-family: "Cuprum", Arial, sans-serif;
  font-weight: normal;
  color: var(--special-grey);
}

.inner-page .products-main-title {
  grid-column: 1 / -1;
  grid-row: 2 / 3;

  background-color: var(--special-silver);
}

.products-button {
  text-align: center;

  width: 192px;
  padding-top: 11px;
  padding-bottom: 9px;
  box-sizing: border-box;
  margin-right: 1px;
  margin-bottom: 1px;
}

.products-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 20px;

  margin-top: 20px;
}

.inner-page .products-list-layout {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
}

.products-item {
  position: relative;

  display: flex;
  flex-direction: column;
  align-items: center;

  width: 220px;
  min-height: 318px;
  border: 1px solid var(--basic-silverlight);
  box-sizing: border-box;
  margin: 0px;
}

.products-item:hover {
  box-shadow: 0px 4px 20px var(--basic-darkgrey);
}

.products-item-header {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 177px;
}

.products-image {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}

.products-item-option-1 .products-image {
  margin-top: 5px;
}

.products-item-option-2 .products-image {
  margin-top: 28px;
  margin-left: -3px;
}

.products-item-option-3 .products-image {
  margin-top: 21px;
  margin-left: -10px;
}

.products-item:hover .products-image {
  display: none;
}

.products-item-button-container {
  grid-column: 1 / 2;
  grid-row: 1 / 2;

  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto auto;
  grid-gap: 10px;

  margin-top: 37px;
  margin-bottom: auto;
  margin-left: -2px;

  opacity: 0;
}

.products-item:hover .products-item-button-container {
  opacity: 1;
}

.products-item-button-container .button {
  font-size: 14px;
  line-height: 18px;
  font-family: "Cuprum", Arial, sans-serif;
  font-style: normal;
  font-weight: normal;

  width: 135px;
  box-sizing: border-box;
}

.button-buy {
  position: relative;

  text-align: left;

  background-color: var(--basic-green);
  box-shadow: inset 0px -3px 0px var(--basic-darkgreen);

  padding-left: 53px;
  border: none;
  border-radius: 2px;
}

.button-buy::before {
  position: absolute;
  top: 10px;
  left: 30px;

  content: "";
  background-image: url("../img/decor/icon-cart.svg");

  width: 15px;
  height: 15px;

  opacity: 0.3;
}

.button-buy:hover {
  background-color: var(--success);
  border-color: var(--success);
}

.button-buy:active,
.button-buy:focus {
  background-color: var(--special-darkgreen);
  border-color: var(--special-darkgreen);
}

.button-to-bookmark {
  color: var(--special-grey);
  background-color: var(--basic-white);

  padding-top: 2px;
  border: 3px solid var(--basic-green);
}

.button-to-bookmark:hover {
  color: var(--special-grey);
  border-color: var(--special-grey);
}

.button-to-bookmark:active,
.button-to-bookmark:focus  {
  color: var(--special-grey);
  border-color: var(--special-grey);
  opacity: 0.3;
}

.products-item .products-title {
  font-size: 18px;
  line-height: 20px;
  font-family: "PT Sans", Arial, sans-serif;
  font-weight: bold;
  text-transform: none;
  text-align: center;

  margin-right: 30px;
  margin-bottom: auto;
  margin-left: 31px;
}

.products-item-option-2 .products-title {
  margin-left: 29px;
}

.deleted-price {
  font-size: 17px;
  line-height: 18px;
  font-weight: bold;
  font-family: "PT Sans", Arial, sans-serif;
  text-decoration: line-through;
  color: var(--basic-silver);

  margin: 0px;
  margin-top: 7px;
}

.products-item-option-2 .deleted-price{
  padding-right: 3px;
}

.current-price {
  font-size: 17px;
  line-height: 18px;
  font-weight: bold;
  font-family: "PT Sans", Arial, sans-serif;
  word-wrap: break-word;
  background-image: url("../img/decor/angle.svg"),
    linear-gradient(to left, transparent 20px,  var(--basic-red) 20px);
  background-size: 20px 100%,
    auto;
  background-repeat: no-repeat;
  background-position: right 0px bottom 0px;

  width: 141px;
  min-height: 38px;
  padding-top: 10px;
  padding-right: 30px;
  padding-bottom: 10px;
  padding-left: 32px;
  box-sizing: border-box;
  margin: 0px;
  margin-top: 14.5px;
  margin-bottom: 20px;
  margin-left: 11px;
}

.products-item-option-1 .current-price {
  margin-left: 16px;
}

.products-list-control {
  grid-column: 1 / -1;
  grid-row: -1 / -2;

  display: flex;
  flex-wrap: wrap;
}

.products-list-control-button {
  font-size: 13px;
  font-family: "PT Sans", Arial, sans-serif;
  color: var(--basic-black);
  background-color: var(--basic-white);

  border: 1px solid var(--spacial-beige);
}

.products-list-control-button:hover {
  border-color: var(--basic-greylight);
}

.products-list-control-button:active {
  border-color: var(--basic-red);
}

.button-next {
  order: 2;
}

.current-button {
  color: var(--basic-white);
  background-color: var(--basic-red);
  border-color: var(--basic-red);
}


/* about-products  */

.about .title {
  margin-bottom: 24px;
}


.about-products {
  background-color: var(--basic-background);

  margin-top: 59px;
}

.about-products-title {
  font-size: 30px;
  line-height: 30px;
  font-family: "Cuprum", Arial, sans-serif;
  color: var(--basic-black);
}

.about-products-content {
  font-size: 13px;
  line-height: 24px;
  font-family: "PT Sans", Arial, sans-serif;
  color: var(--basic-black);

  padding: 0px;
  margin: 0px;
}


/*  manufacturers  */


.manufacturers {
  margin-bottom: 70px;
}

.manufacturers .title-container {
  padding-right: 19px;
}

.manufacturers .title {
  font-size: 30px;
  line-height: 30px;
  font-family: "Cuprum", Arial, sans-serif;
  font-weight: normal;
  color: var(--special-grey);
}

.manufacturers-button {
  margin-bottom: 1px;
}

.manufacturers-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 20px;

  font-size: 0px;

  margin-top: 20px;
}

.manufacturers-item:hover {
  box-shadow: 0px 4px 20px var(--basic-darkgrey);
}

.manufacturers-item:active,
.manufacturers-item:focus {
  box-shadow: 0px 4px 20px var(--basic-darkgrey);
  opacity: 0.5;
}


/*  services  */


.services {
  background-color: var(--basic-background);

  padding-top: 64px;
  padding-bottom: 51px;
}

.services-layout {
  display: grid;
  grid-template-columns: 240px 1fr;
  grid-template-rows: auto auto;
}

.services-header{
  grid-column: 1 / 3;
  grid-row: 1 / 2;
}

.services-title {
  font-size: 30px;
  line-height: 30px;
  font-family: "Cuprum", Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  color: var(--basic-black);

  margin-bottom: 22px;
}

.services-header .text {
  font-size: 13px;
  line-height: 26px;
  font-family: "PT Sans", Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
}

.services-button-list {
  grid-column: 1 / 2;
  grid-row: 2 / 3;

  position: relative;

  display: flex;
  flex-direction: column;
  justify-content: center;

  width: 240px;
  min-height: 279px;
  margin-top: 10px;
}

.services-button-list::after {
  position: absolute;
  right: 0px;

  content:"";
  background-image: url("../img/decor/shadow.png");
  background-repeat: no-repeat;
  background-size: contain;

  width: 10px;
  height: 100%;
}

.services-button {
  font-size: 21px;
  line-height: 30px;
  font-family: "Cuprum", Arial, sans-serif;
  font-weight: bold;
  text-align: left;
  color: var(--basic-white);
  background-color: var(--special-grey);
  box-shadow: inset 0px 1px 0px var(--basic-brightnavy),
  inset 0px -1px 0px var(--special-darkgrey);
  outline: none;

  width: 240px;
  min-height: 62px;
  padding-bottom: 3px;
  padding-left: 22px;
  border: none;
  box-sizing: border-box;
}

.services-button:hover {
  background-color: var(--special-darkgrey);
  box-shadow: inset 0px 1px 0px var(--basic-brightnavy),
  inset 0px 0px 0px var(--special-darkgrey);
}

.services-button:active,
.services-button:focus {
  color: var(--special-grey);
  background-color: var(--basic-white);
  box-shadow: none;
}

.services-list {
  grid-column: 2 / 3;
  grid-row: 2 / 3;

  height: 100%;
  margin-left: 80px;
}

.services-item {
  display: none;
  flex-direction: column;

  background-repeat: no-repeat;
  background-position: right 1px bottom -48px;

  height: 100%;
}

.services-item.current-item {
  display: flex;
}

.services-item-delivery {
  background-image: url("../img/decor/delivery-image.png");
}

.services-item-guarantee {
  background-image: url("../img/decor/guarantee-image.png");
  background-position: right 0px bottom -47px;

  margin-right: -8px;
}

.services-item-credit {
  background-image: url("../img/decor/credit-image.png");
  background-position: right 0px bottom -49px;

  margin-right: -10px;
}

.services-item .title {
  font-size: 30px;
  line-height: 30px;
  font-family: "Cuprum", Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  color: var(--special-grey);

  padding-top: 55px;
  padding-bottom: 15px;
}

.services-item-guarantee .title {
  padding-bottom: 9px;
}

.services-item-credit .title {
  padding-bottom: 14px;
}

.services-item p {
  font-size: 13px;
  line-height: 25px;
  font-family: "PT Sans", Arial, sans-serif;
  font-style: normal;
  font-weight: normal;

  margin-right: 230px;
}

.credit-button {
  line-height: 18px;
  font-family: "Cuprum", Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  color: var(--basic-white);
  border-radius: 4px;
  width: 195px;
  margin-top: 13px;
}


/* about */


.about {
  grid-column: 1 / 2;
  grid-row: 1 / 2;

  display: flex;
  flex-direction: column;

  font-size: 13px;
  line-height: 24px;
  font-family: "PT Sans", Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
}

.about .title {
  font-size: 30px;
  line-height: 32px;
  font-family: "Cuprum", Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  word-spacing: -0.1em;
  color: var(--special-black);

  margin-bottom: 22px;
}

.about p {
  margin: 0px;
}

.about p:first-of-type {
  margin-bottom: 26px;
}

.about p:nth-of-type(2) {
  line-height: 25px;
}

.about-list {
  font-size: 18px;
  line-height: 24px;
  font-family: "Cuprum", Arial, sans-serif;
  font-style: normal;
  font-weight: normal;

  margin-top: 2px;
}

.about-item {
  position: relative;

  padding-left: 37px;
  margin-bottom: 12px;
}

.about-item::before {
  position: absolute;
  top: 0.6em;
  left: 0px;

  content: "";
  background-color: var(--basic-red);

  width: 25px;
  height: 2px;
}

.about-item:first-child::before {
  top: 0.7em;
}

.about-item:nth-child(3)::before {
  top: 0.5em;
}

.about-item:last-child {
  margin-bottom: 20px;
}

.about-button {
  font-size: 14px;
  line-height: 18px;
  font-family: "Cuprum", Arial, sans-serif;
  font-style: normal;
  font-weight: normal;

  width: 220px;
}


/* contacts */


.contacts {
  grid-column: 2 / 3;
  grid-row: 1 / 2;

  display: flex;
  flex-direction: column;

  font-size: 13px;
  line-height: 24px;
  font-family: "PT Sans", Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
}

.contacts .title {
  font-size: 30px;
  line-height: 30px;
  font-family: "Cuprum", Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  color: var(--special-black);

  margin-bottom: 23px;
}

.contacts p {

  margin: 0px;
  margin-bottom: 34px;
}

.contacts-image {
  display: flex;
  min-height: 158px;

  margin-bottom: 1px;
}

.contacts-button {
  font-size: 14px;
  line-height: 18px;
  font-family: "Cuprum", Arial, sans-serif;
  font-style: normal;
  font-weight: normal;

  width: 100%;
}


/* filter */


.filter {
  grid-column: 1 / 2;
  grid-row: 3 / 5;
}

.filter-title {
  font-size: 13px;
  line-height: 18px;
  font-family: "PT Sans", Arial, sans-serif;
  font-weight: normal;
  color: var(--basic-black);
  background-color: var(--basic-beige);
}


/*  sort  */


.sort {
  grid-column: 2 / 3;
  grid-row: 3 / 4;

  display: flex;
  justify-content: space-between;

  background-color: var(--basic-beige);

  margin-right: 20px;
}

.sort-title {
  font-size: 13px;
  line-height: 18px;
  font-family: "PT Sans", Arial, sans-serif;
  font-weight: normal;
  color: var(--basic-black);
}

.sort-list {
  display: flex;
  flex-wrap: wrap;
}

.sort-button {
  font-size: 13px;
  font-family: "PT Sans", Arial, sans-serif;
  text-decoration: underline dotted var(--basic-red);
  color: var(--basic-black);
  background-color: inherit ;
  opacity: 0.3;

  border: none;
}

.sort-button:hover {
  text-decoration-style: solid;
  color: var(--basic-black);
  opacity: 1;
}

.sort-button:active {
  text-decoration: none;
  color: var(--basic-red);
  opacity: 1;
}

.sort-ascending-button,
.sort-descending-button {
  text-decoration: none;
  color: var(--basic-greylight);
  background-color: inherit;
  opacity: 1;
}


/*  footer  */


.main-footer {
  font-size: 18px;
  line-height: 24px;
  font-family: "Cuprum", Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  color: var(--basic-white);
  background-color: var(--special-grey);
}

.main-footer-layout {
  display: grid;
  grid-template-columns: 324px 1fr;
  grid-template-rows: max-content 1fr;
}

.main-footer-logo {
  grid-column: 1 / 2;
  grid-row: 1 / 2;

  min-height: 68px;
  padding-top: 20px;
  padding-left: 41px;
}

.footer-contacts {
  grid-column: 1 / 2;
  grid-row: 2 / 3;

  padding-left: 3px;
  margin-top: 29px;
  margin-bottom: 54px;
}

.footer-address,
.footer-phone {
  font-style: normal;
  color: var(--special-silverlight);
}

.footer-navigation {
  display: flex;
  flex-wrap: wrap;

  color: var(--basic-background);

  margin-top: 37px;
  margin-right: -60px;
  margin-left: 69px;
}

.special-navigation {
 padding-left: 23px;
 margin-top: 33px;
 margin-bottom: 74px;
}

.footer-navigation-item {
  margin-right: 59px;
}

.footer-navigation-item:hover,
.feedback-link:hover {
  text-decoration: underline;
}

.footer-navigation-item:active {
  text-decoration: none;
  opacity: 0.5;
}

.special-navigation-item,
.feedback-link {
  color: var(--special-yellowlight);
}

.footer-bottom {
  font-size: 16px;
  line-height: 18px;
  font-family: "Cuprum", Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  background-color: var(--special-darkgrey);
}

.footer-bottom-layout {
  display: flex;

  min-height: 107px;
}

.copyright {
  margin-top: 36px;
  margin-bottom: 34px;
  margin-left: 1px;
}

.social-list-layout {
  display: flex;
  flex-wrap: wrap;

  margin-top: 34px;
  margin-right: 117px;
  margin-bottom: 29px;
  margin-left: 158px;
}

.social-item {
  margin-right: 1px;
}

.social-item:hover .social-item-background,
.social-item:active .social-item-background,
.social-item:focus .social-item-background {
  fill: var(--basic-red);
}

.feedback {
  line-height: 19px;

  margin-top: 35px;
  margin-bottom: 25px;
}

.feedback:last-child {
  margin-left: 51px;
}

.feedback-link:active {
  text-decoration: none;
  color: var(--special-red);
}










